.input {
    margin-top: 10px;
    border-radius: 4px;
    border: 1px;
    width: 368px;
    height: 48px;
    outline: none;
    border: 1px solid #4cafef;
    box-shadow: 0 0 0 2px rgba(76, 175, 239, 0.2);

    &::placeholder {
        text-align: start;
    }
}

.title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: #1e293b;
}

.button {
    border: none;
    margin-top: 10px;
    border-radius: 4px;
    padding: 12px 40px;
    width: 244px;
    height: 48px;
    background: #3b82f6;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}