<div class="edit_advert_container" *ngIf="form">
  <h2 class="edit_advert_title">Изменить объявление</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>
      <p class="edit_advert_text">Название</p>
      <input formControlName="name" type="text" class="edit_advert_input-text" />
    </label>

    <label>
      <p class="edit_advert_text">Описание</p>
      <textarea formControlName="description" class="edit_advert_input-description"></textarea>
    </label>

    <label>
      <p class="edit_advert_text">Цена</p>
      <input formControlName="cost" type="number" class="edit_advert_input-text" />
    </label>

    <p class="edit_advert_text">Выберите категорию *</p>
    <div class="dropdowns">
      <!-- Первая категория -->
      <div class="custom-select">
        <select formControlName="categoryId" (change)="onRootCategorySelect($event)" [value]="selectedRootId() || ''">
          <option value="" disabled selected>Нажмите, чтобы выбрать</option>
          @for (cat of categories(); track cat.id) {
          <option [value]="cat.id">{{ cat.name }}</option>
          }
        </select>
        <svg class="select-arrow" width="24" height="24" viewBox="0 0 24 24" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M11.9997 15.2502C11.9012 15.2506 11.8035 15.2314 11.7125 15.1936C11.6215 15.1558 11.5389 15.1003 11.4697 15.0302L6.46969 10.0302C6.36997 9.88426 6.32496 9.70784 6.34262 9.532C6.36028 9.35616 6.43946 9.1922 6.5662 9.06905C6.69295 8.94589 6.85911 8.87145 7.03538 8.85884C7.21165 8.84624 7.38672 8.89629 7.52969 9.00016L11.9997 13.4402L16.4697 9.00016C16.6106 8.90877 16.7782 8.86735 16.9455 8.88254C17.1128 8.89772 17.2702 8.96864 17.3924 9.08392C17.5146 9.1992 17.5945 9.35217 17.6194 9.5183C17.6443 9.68444 17.6127 9.85412 17.5297 10.0002L12.5297 15.0002C12.463 15.0757 12.3816 15.1369 12.2905 15.1799C12.1994 15.2228 12.1004 15.2468 11.9997 15.2502V15.2502Z"
            fill="currentColor" />
        </svg>
      </div>

      <!-- Подкатегория -->
      @if (selectedRoot()?.childs?.length) {
      <div class="custom-select">
        <select formControlName="categoryId" (change)="onSubCategorySelect($event)" [value]="selectedSubId() || ''">
          <option value="" disabled selected>Нажмите, чтобы выбрать</option>
          @for (sub of selectedRoot()?.childs; track sub.id) {
          <option [value]="sub.id">{{ sub.name }}</option>
          }
        </select>
        <svg class="select-arrow" width="24" height="24" viewBox="0 0 24 24" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M11.9997 15.2502C11.9012 15.2506 11.8035 15.2314 11.7125 15.1936C11.6215 15.1558 11.5389 15.1003 11.4697 15.0302L6.46969 10.0302C6.36997 9.88426 6.32496 9.70784 6.34262 9.532C6.36028 9.35616 6.43946 9.1922 6.5662 9.06905C6.69295 8.94589 6.85911 8.87145 7.03538 8.85884C7.21165 8.84624 7.38672 8.89629 7.52969 9.00016L11.9997 13.4402L16.4697 9.00016C16.6106 8.90877 16.7782 8.86735 16.9455 8.88254C17.1128 8.89772 17.2702 8.96864 17.3924 9.08392C17.5146 9.1992 17.5945 9.35217 17.6194 9.5183C17.6443 9.68444 17.6127 9.85412 17.5297 10.0002L12.5297 15.0002C12.463 15.0757 12.3816 15.1369 12.2905 15.1799C12.1994 15.2228 12.1004 15.2468 11.9997 15.2502V15.2502Z"
            fill="currentColor" />
        </svg>
      </div>
      }
    </div>



    <label>
      <p class="edit_advert_text">Город</p>
      <input formControlName="location" (input)="sendCity($event)" [value]="value" class="edit_advert_input-text" />
      <ul *ngIf="items.length" class="autocomplete-list">
        <li *ngFor="let city of items" (click)="selectCity(city)">{{ city }}</li>
      </ul>
    </label>

    <label>
      <p class="edit_advert_text">Email</p>
      <input formControlName="email" type="email" class="edit_advert_input-text" />
    </label>

    <label>
      <p class="edit_advert_text">Телефон</p>
      <input formControlName="phone" type="tel" class="edit_advert_input-text" />
    </label>

    <label>
      <p class="edit_advert_text">Фотографии (до 10)</p>
      <input type="file" (change)="onFilesSelected($event)" multiple />
    </label>

    <div class="image-preview">
      <div *ngFor="let img of images; index as i" class="preview-item">
        <img [src]="img.url" alt="preview" />
        <button type="button" (click)="removeImage(i)">✕</button>
      </div>
    </div>

    <button type="submit" class="edit_advert_button-save" [disabled]="form.invalid">
      Сохранить изменения
    </button>
  </form>
</div>