<div class="main">
  <div class="main__container container">
    <h3 class="main__title">Рекомендации для вас</h3>

    <div class="main__content">
      @if(showCategories){
        <aside class="main__sidebar">
          <app-categories></app-categories>
        </aside>
      }
      <section class="main__cards" [class.with-categories]="showCategories">
        @for (item of responceAdvert(); track item.id) {
        <a [routerLink]="['/advert-view', item.id]">
          <app-advert class="main__img" [data]="item"></app-advert>
        </a>
        }
      </section>
    </div>
  </div>
</div>