// .main {
//     background: #fff;
//     display: flex;
//     width: 100%;

//     &__container {
//         display: flex;
//         flex-direction: column;
//         width: 100%;
//         max-width: 1296px;
//         padding: 0 16px;
//         margin: 0 auto;
//     }

//     &__title {
//         font-family: var(--font-family);
//         margin-top: 32px;
//         font-size: 24px;
//         font-weight: 600;
//         color: #1e293b;
//     }

//     &__cards {
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: flex-start;
//         gap: 24px;
//         margin-top: 24px;

//         app-advert {
//             display: contents;
//         }
//     }
// }

.main {
  background: #fff;
  display: flex;
  width: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1296px;
    padding: 0 16px;
    margin: 0 auto;
  }

  &__title {
    font-family: var(--font-family);
    margin-top: 32px;
    font-size: 24px;
    font-weight: 600;
    color: #1e293b;
  }

  &__content {
    display: flex;
    gap: 24px;
    margin-top: 24px;
  }

  &__sidebar {
    width: 260px;
    flex-shrink: 0;
  }

  &__cards {
    display: grid;
    gap: 24px;
    flex: 1;

    // по умолчанию (категорий нет) — например 4 колонки
    grid-template-columns: repeat(4, 1fr);

    &.with-categories {
      // если категории слева → 3 колонки
      grid-template-columns: repeat(3, 1fr);
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    app-advert {
      display: block;
      width: 100%;
    }
  }
}
