<div class="main">
  <div class="main_container container">
    <h3 class="main_title">Рекомендации для вас</h3>

    <div class="main_content">
      @if(showCategories){
      <aside class="main_sidebar">
        <app-categories></app-categories>
      </aside>
      }
      <section class="main_cards" [class.main_cards-with-categories]="showCategories">
        @for (item of responceAdvert(); track item.id) {
        <app-advert [data]="item" [showActions]="false" [advertId]="item.id">
        </app-advert>
        }
      </section>
    </div>
  </div>
</div>